.sidebar {
  padding-top: 20px;
  text-align: center;
}

img {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.sidebar__utils {
  padding-top: 10px;
}

.sidebar__greating {
  font-size: 3rem;
  font-weight: 600;
}

.sidebar__name {
  font-size: 2rem;
  font-weight: 500;
}

.sidebar__name-title-one {
  line-height: 2.5rem;
}

.sidebar__name-title-two {
  line-height: 1.4rem;
}

.sidebar__social-handle {
  bottom: 18px;
}
