.sidebar {
  padding-top: 20px;
  text-align: center;
}

img {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.sidebar__utils {
  padding-top: 10px;
}

.sidebar__greating {
  font-size: 3rem;
  font-weight: 600;
}

.sidebar__name {
  font-size: 2rem;
  font-weight: 500;
}

.sidebar__name-title {
  margin: auto;
}

.sidebar__name-title-one {
  line-height: 2.5rem;
}

.sidebar__name-title-two {
  line-height: 1.4rem;
}

.sidebar__social-handle {
  position: absolute;
  bottom: 18px;
}

.iconify {
  width: 2.5rem;
  height: 2.5rem;
  padding: 2px;
}

.neumorphic-btn {
  border: none;
  border-radius: 40px;
  color: #535D74;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow 0.25s ease !important;
}

.neumorphic-btn:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

@media only screen and (max-width: 782px) {
  .iconify{
    margin: 4px;
  }
}