*{
  margin: 0;
}

.app__container {
  margin-top: 2.5%;
}

.app__row{
  min-height: 90vh;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
}

.app__sidebar {
  border: 2px solid black;
  border-radius: 30px;
}

.app__content {
  border: 2px solid black;
  border-radius: 30px;
}